{% extends "base_generic.html" %}
{% load render_table from django_tables2 %}
{% load googlecharts %}

{% block content %}
    <div class="inline">
        {% load googlecharts %}
        {# container #}
        <div id="out"></div>
        {% googlecharts %}
            {# named data and options can be reused #}
            {% data values "out_data" %}
                {% col "string" "Дата" %}"{{ val }}"{% endcol %}
                {% col "number" "$" %}{{ val }}{% endcol %}
            {% enddata %}
            {# you can also use global javascript variables here, #}
            {# and call functions #}
            {% options "out_options" %}
                kind: "LineChart",
                options: {
                height: 600,
                width: 550
                }
            {% endoptions %}
            {# chart is assembled from container, data and options #}
            {% graph "out" "out_data" "out_options" %}
        {% endgooglecharts %}
    </div>
    <div class="inline">
        <div>
            <h1>Всего: </h1>
            <h3>{{ total }} $</h3>
        </div>
        <div>{% render_table table %}</div>
    </div>

{% endblock %}